* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  .Featured{
    max-width: 800px;
    margin:auto;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background:  linear-gradient(0deg, rgba(52,152,219,1) 0%, rgba(46,204,113,1) 100%);
  }
  footer{
    text-align: center;
    margin-top: 10 px;
    border-top: 3px solid black;
  }